html {
  font-size: 10px;
}

body {
  background-color: #f4f4f4;
  font-family: Mukta, Helvetica, sans-serif;
  font-size: 1.6rem;
  min-width: 400px;
}

img {
  width: 100%;
}

header {
  text-align: center;
}

header .free {
  padding: 1.2rem 0;
  background-color: #8d0e0e;
  font-size: 1.3rem;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
}

header .logo {
  color: #213c83;
  padding: 1.5rem 0;
  font-size: 3.2rem;
}

nav {
  font-size: 2rem;
}

nav .navbar-brand {
  font-size: 2.2rem;
}

.banner {
  background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.192)), to(rgba(0, 0, 0, 0.212))), url(../Assets/Images/banner1b.png), radial-gradient(circle, black 0%, #f4f4f4 0%, black 100%);
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.192), rgba(0, 0, 0, 0.212)), url(../Assets/Images/banner1b.png), radial-gradient(circle, black 0%, #f4f4f4 0%, black 100%);
  background-position: center;
  background-repeat: no-repeat;
  height: 400px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-size: contain;
}

.banner__text {
  color: #fff;
  line-height: 1;
}

.banner__h2 {
  font-size: 4rem;
  font-weight: bold;
}

.banner__p {
  font-size: 3rem;
}

.sweater {
  margin: 0 auto;
  padding-top: 7rem;
  width: 400px;
}

.sweater-item {
  margin-bottom: 7rem;
}

.sweater__h2 {
  font-size: 4rem;
  color: #213c83;
}

.sweater__paragraph {
  font-size: 2rem;
}

.sweater a {
  font-size: 2rem;
}

.h-250 {
  height: 250px;
}

.terms {
  text-align: center;
  margin-top: 3rem;
}

.footer__container {
  background-color: #d3d3d3;
  text-align: center;
}

.footer__container .social__icons {
  height: inherit;
}

.footer__container .fab {
  font-size: 5rem;
  padding: 1rem 1rem;
}

.footer__container .fa-facebook {
  color: #213c83;
}

.under__footer {
  text-align: center;
  padding: 2rem 0;
  font-size: 2rem;
}

.circle {
  -webkit-box-shadow: 0px 0px 5px grey;
          box-shadow: 0px 0px 5px grey;
  border-radius: 50%;
  text-align: center;
  height: 100px;
  width: 100px;
  position: fixed;
  bottom: 50px;
  z-index: 5;
  background: #f4f4f4;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.back {
  right: 10px;
}

.back .fa {
  font-size: 3rem;
  padding-top: 3rem;
}

.leave {
  left: 10px;
}

.leave p {
  padding-top: 3rem;
  line-height: 1;
}

.form {
  z-index: 10;
  outline: 1px solid #8d0e0e;
  bottom: 15%;
  width: 50vw;
  left: 12%;
}

.form__input {
  width: 100%;
}
