$promo-color: #8d0e0e;
$primary-color: #f4f4f4;
$footer-color: #d3d3d3;
$font-color: #fff;
$header-color: #213c83;

html {
  font-size: 10px;
}
body {
  background-color: $primary-color;
  font-family: Mukta, Helvetica, sans-serif;
  font-size: 1.6rem;
  min-width: 400px;
}
a {
  text-decoration: none;
}
img {
  width: 100%;
}
header {
  text-align: center;
  .free {
    padding: 1.2rem 0;
    background-color: $promo-color;
    font-size: 1.3rem;
    color: $font-color;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
  .logo {
    color: $header-color;
    padding: 1.5rem 0;
    font-size: 3.2rem;
  }
}
.navbar {
  font-size: 2rem;
  &-brand {
    font-size: 2.2rem;
  }
  &-toggler {
    border: none;
  }
}

.banner {
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.192), rgba(0, 0, 0, 0.212)),
    url(../Assets/Images/banner1b.png),
    radial-gradient(
      circle,
      rgba(0, 0, 0, 1) 0%,
      rgba(244, 244, 244, 1) 0%,
      rgba(0, 0, 0, 1) 100%
    );
  background-position: center;
  background-repeat: no-repeat;
  height: 400px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: contain;
  &__text {
    color: $font-color;
    line-height: 1;
  }
  &__h2 {
    font-size: 4rem;
    font-weight: bold;
  }
  &__p {
    font-size: 3rem;
  }
}

.sweater {
  margin: 0 auto;
  padding-top: 7rem;
  width: 100%;

  &-item {
    margin-bottom: 7rem;
    width: 400px;
  }
  &__h2 {
    font-size: 4rem;
    color: $header-color;
  }
  &__paragraph {
    font-size: 2rem;
  }
  a {
    font-size: 2rem;
  }
}

.h-250 {
  height: 250px;
}

.terms {
  text-align: center;
  margin-top: 3rem;
}

.footer__container {
  background-color: $footer-color;
  text-align: center;

  .social__icons {
    height: inherit;
  }
  .fab {
    font-size: 5rem;
    padding: 1rem 1rem;
  }
  .fa-facebook {
    color: $header-color;
  }
}

.under__footer {
  text-align: center;
  padding: 2rem 0;
  font-size: 2rem;
}

.circle {
  box-shadow: 0px 0px 5px grey;
  border-radius: 50%;
  text-align: center;
  height: 100px;
  width: 100px;
  position: fixed;
  bottom: 50px;
  z-index: 5;
  background: $primary-color;
  cursor: pointer;
  user-select: none;
}
.back {
  right: 10px;
  a {
    color: $footer-color;
  }
  .fa {
    font-size: 3rem;
    padding: 3rem;
    border-radius: 100%;
  }
}
.leave {
  left: 10px;
  .checkbox {
    visibility: hidden;
  }
  p {
    line-height: 1;
    padding-top: 1rem;
  }
  #form__active:checked ~ .form {
    transform: translateZ(0) translateY(0);
  }
}

.form {
  display: flex;
  z-index: 10;
  outline: 1px solid $promo-color;
  bottom: 15%;
  min-width: 300px;
  max-width: 500px;
  left: 100px;
  transform: translateX(-500px) translateY(300px);
  transition: all 1s;

  &__item {
    width: 100%;
  }
}
